<!-- wp:group {"metadata":{"name":"Page"},"style":{"spacing":{"padding":{"right":"0","left":"0"}}},"backgroundColor":"first","className":"mask","layout":{"type":"default"}} -->
<div class="wp-block-group mask has-first-background-color has-background" style="padding-right:0;padding-left:0">

    <!-- wp:group {"align":"wide","layout":{"type":"constrained","wideSize":"100%","justifyContent":"center"}} -->
    <div class="wp-block-group alignwide">
    
    <!-- wp:post-content {"style":{"elements":{"link":{"color":{"text":"var:preset|color|Second"}}}},"textColor":"Second","fontSize":"x-small","fontFamily":"urbanist"} /-->
    
    </div>
    
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    